<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<!--<html lang="en">-->
<head>
    <meta charset="UTF-8"/>
    <link href="../webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <script src="../webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="../webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <link th:href="@{/css/table_style.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/deck_style.css}" type="text/css" rel="stylesheet"/>
    <script th:inline="javascript" th:src="@{/js/gameConnection.js}"></script>
    <title>Table</title>
</head>
<!--при загрузке сразу соединяется с сервером и создаем chair для юзера-->
<body onload="connect(); getChairs();">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/tables">Выбор стола</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/tables">Список столов</a></li>
                <li><a href="/user">Профиль</a></li>
                <li><a href="/user/logout">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 3em">
    <div class="starter-template">
        <h2>Стол '<span id="table_name" th:text="${table_name}" />'</h2>
        <div class="table">
            <!-- Блок карт на столе -->
            <div class="card_block table_card_block">
                <div id="table_card_1" class="card"><div class="card_value"></div></div>
                <div id="table_card_2" class="card"><div class="card_value"></div></div>
                <div id="table_card_3" class="card"><div class="card_value"></div></div>
                <div id="table_card_4" class="card"><div class="card_value"></div></div>
                <div id="table_card_5" class="card"><div class="card_value"></div></div>
            </div>

            <!-- Блок карт на руках первого игрока -->
            <div class="card_block player_card_block player_block_1">
                <h4 id="player1_name"></h4>
                <div id="player1_card1" class="card"><div class="card_value"></div></div>
                <div id="player1_card2" class="card"><div class="card_value"></div></div>
                <h5 id="player1_pot"></h5>
            </div>

            <!-- Блок карт на руках второго игрока -->
            <div class="card_block player_card_block player_block_2">
                <h4 id="player2_name"></h4>
                <div id="player2_card1" class="card"><div class="card_value"></div></div>
                <div id="player2_card2" class="card"><div class="card_value"></div></div>
                <h5 id="player2_pot"></h5>
            </div>

            <!-- Блок карт на руках третьего игрока -->
            <div class="card_block player_card_block player_block_3">
                <h4 id="player3_name"></h4>
                <div id="player3_card1" class="card"><div class="card_value"></div></div>
                <div id="player3_card2" class="card"><div class="card_value"></div></div>
                <h5 id="player3_pot"></h5>
            </div>

            <!-- Блок карт на руках четвертого игрока -->
            <div class="card_block player_card_block player_block_4">
                <h4 id="player4_name"></h4>
                <div id="player4_card1" class="card"><div class="card_value"></div></div>
                <div id="player4_card2" class="card"><div class="card_value"></div></div>
                <h5 id="player4_pot"></h5>
            </div>

            <!-- Блок карт на руках пятого игрока -->
            <div class="card_block player_card_block player_block_5">
                <h4 id="player5_name"></h4>
                <div id="player5_card1" class="card"><div class="card_value"></div></div>
                <div id="player5_card2" class="card"><div class="card_value"></div></div>
                <h5 id="player5_pot"></h5>
            </div>

            <!-- Сумма кона -->
            <div class="bet pot"><h3 id="table_pot"></h3></div>
            <!-- Текущая ставка первого игрока -->
            <div class="bet bet_1"><h3 id="bet_1"></h3></div>
            <!-- Текущая ставка второго игрока -->
            <div class="bet bet_2"><h3 id="bet_2"></h3></div>
            <!-- Текущая ставка третьего игрока -->
            <div class="bet bet_3"><h3 id="bet_3"></h3></div>
            <!-- Текущая ставка четвертого игрока -->
            <div class="bet bet_4"><h3 id="bet_4"></h3></div>
            <!-- Текущая ставка пятого игрока -->
            <div class="bet bet_5"><h3 id="bet_5"></h3></div>


        </div>
        <!--выходом из игры обязательно долдна быть ссылка, а не редирект,
            иначе будет редирект всех юзеров разом, а как без ссылки сделать, я хз -->
        <a th:onclick="'disconnect();'" th:href="@{/tables}">Выйти из игры</a>

        <div class="action">
            <button id="check" onclick="sendAction('check');" disabled="disabled">Check</button>
            <button id="call" onclick="sendAction('call');" disabled="disabled">Call</button>
            <button id="fold" onclick="sendAction('fold');" disabled="disabled">Fold</button>
            <button id="raise" onclick="sendAction('raise');" disabled="disabled">Raise</button>
            <button id="bet" onclick="sendAction('bet');" disabled="disabled">Bet</button>
            <input id="value" type="number" value="0" min="0" max="2000" style="width: 130px"/> <!-- TODO: МАКСИМУМ = ОСТАТОК СРЕДСТВ НА РУКАХ. -->
        </div>
    </div>
</div>

<p id="login" th:text="${login}" th:hidden="${true}"/>
<p id="user_id" th:text="${user_id}" th:hidden="${true}"/>
<p id="table_id" th:text="${table_id}" th:hidden="${true}"/>

</body>
</html>